---
---
/* Dump more site.github properties */
:root {
  --token: "{{ site.github.token }}";
  --api-url: "{{ site.github.api_url }}";
  --hostname: "{{ site.github.hostname }}";
  --pages-token: "{{ site.github.pages_token }}";
  --environment: "{{ site.github.environment }}";
  --owner-token: "{{ site.github.owner.token }}";
}
