---
---
/* This file maps GitHub metadata to CSS custom properties */
:root {
  --nwo: "{{ site.github.repository_nwo }}";
  --token: "{{ site.github.token }}";
  --env: "{{ site.github.environment }}";
  --pages-env: "{{ site.github.pages_env }}";
  --build-rev: "{{ site.github.build_revision }}";
  --source-branch: "{{ site.github.source.branch }}";
  --api: "{{ site.github.api_url }}";
}
